<%-include('./common/head')%>

    <!-- using boitrap -->
    <style>
      .carousel-inner {
        max-height: 600px; /* Set the desired height for the carousel */
        overflow: hidden; /* Prevent content overflow */
        background-size: cover;
      }
    
      .carousel-item img {
        height: auto; /* Ensure images fill the height */
        width: 100%; /* Maintain aspect ratio */
        object-fit:contain;
         /* Crop images to fit within the defined size */

      }
      .make{
        height: 200px;
      }
      </style>

    <!-- <style>
      @keyframes slideDown {
        0% {
          height: 100%;
          opacity: 0;
        }

        100% {
          height: 100%;
          opacity: 1;
        }
      }

      @keyframes slideUp {
        0% {
          height: 0%;
          opacity: 1;
        }

        100% {
          height: 0%;
          opacity: 0;
        }
      }

      .animate-slideDown {
        animation: slideDown 2s ease-out forwards ;
      }

      .animate-slideUp {
        animation: slideUp 3s ease-out forwards;
      }

      .tanveer {
        background-image: url("./images/main.jpg");
      }

   

.moa{
  color: white;
  text-decoration: none;

}
.moa:hover{
  color: #d3d3d3;
  cursor: pointer;
  text-decoration: underline;
}



    </style> -->
  </head>

  <body>
    <!-- Moazam shigri -->
    <!-- Tanveer anjum -->
    <!-- apocho -->
    <%- include('./common/header') %>
    <section>
    <div class="main bg-sky-950">
    
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="./images/pk.jpg" class="d-block w-100 " alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="./images/p13.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./images/p15.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./images/p32.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./images/p7.jpg" class="d-block w-100 " alt="...">
          </div>
         
          <div class="carousel-item">
            <img src="./images/p91.jpg" class="d-block w-100 " alt="...">
          </div>
        </div>
        
      
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


  </section>

      
   

    <section class="bg-sky-950">
      <section
        class="flex flex-col justify-center max-w-8xl min-h-screen px-4 py-5 mx-auto sm:px-2 md:gap-5 rounded-lg"
      >
        <div class="flex flex-wrap md:mb-8 justify-center">
          <h2
            class="mr-10 text-4xl font-bold leading-none md:text-4xl text-white"
          >
            Our Representer
          </h2>
        </div>

       <div class="flex flex-wrap mx-8 py-2">
          <div
            class="w-full max-w-full mb-4 sm:w-[300px] px-4 lg:w-1/3 flex flex-col transition-transform transform hover:scale-105 hover:shadow-lg rounded-lg"
          >
            <div class="h-36 bg-cover tanveer">
              <img
                src="/images/aqeel.jpeg"
                alt="Card img"
                class="object-cover object-center w-28 h-28 rounded-lg justify-center items-center mt-2 ml-3"
              />
            </div>

            <div class="flex flex-grow">
              <div
                class="flex flex-col justify-between px-4 py-6 bg-white border border-gray-400 h-[200px]"
              >
                <div>
                  <h1  class="inline-block mb-2 text-2xl font-bold capitalize border-b-2 border-blue-600 hover:text-blue-600">
                     president
                  </h1>
                  <h1 class="block mb-2 text-xl font-black leading-tight hover:underline hover:text-blue-600">
                   
                    Aqeel Iqbal
                  </h1>
                  <p class="mb-2">
                    He is the president of Balti Comsians Students Abbottabad <br>
                    <strong>Department:Pharmacy</strong><br>
                    <strong>Semester:7th</strong>
                  </p>
                
                </div>
              </div>
            </div>
          </div>

          <div
            class="w-full max-w-full mb-8 sm:w-1/2 px-4 lg:w-1/3 flex flex-col transition-transform transform hover:scale-105 hover:shadow-lg rounded-xl"
          > 
          
            <div class="tanveer h-36 bg-cover">
              <img
                src="/images/avator.jpg"
                alt="Card img"
                class="object-cover object-center rounded-lg w-28 h-28 mt-2 ml-3"
              />
            </div>
            <div class="flex flex-grow">
              <div
                class="flex flex-col justify-between px-4 py-6 bg-white border border-gray-400 h-[200px]"
              >
                <div>
                  <h1  class="inline-block mb-2 text-2xl font-bold capitalize border-b-2 border-blue-600 hover:text-blue-600"
              
                   
                    >Charmain</h1
                  >
                  <h1
                   
                    class="block mb-2 text-xl font-black leading-tight hover:underline hover:text-blue-600"
                  >
                    Shabbir Hussain
                </h1>
                <p class="mb-2">
                  He is the Charmain of Balti Comsians Students Abbottabad <br>
                  <strong>Department:Pharmacy</strong><br>
                  <strong>Semester:7th</strong>
                </p>
                </div>
              </div>
            </div>
          </div>

          <div
            class="w-full max-w-full mb-8 sm:w-1/2 px-4 lg:w-1/3 flex flex-col transition-transform transform hover:scale-105 hover:shadow-lg rounded-xl"
          >
            <div class="tanveer h-36 bg-cover">
              <img
                src="/images/avator.jpg"
                alt="Card img"
                class="object-cover object-center rounded-lg w-28 h-28 mt-2 ml-3"
              />
            </div>
            <div class="flex flex-grow">
              <div class="triangle"></div>
              <div
                class="flex flex-col justify-between px-4 py-6 bg-white border border-gray-400 h-[200px]"
              >
                <div>
                  <h1
                   
                    class="inline-block mb-2 text-2xl font-bold capitalize border-b-2 border-blue-600 hover:text-blue-600"
                    >voice president</h1
                  >
                  <h1
                   
                    class="block mb-2 text-2xl font-black leading-tight hover:underline hover:text-blue-600"
                  >
                    Hasnain Ibrahim
                </h1>
                <p class="mb-2">
                  He is the Charmain of Balti Comsians Students Abbottabad <br>
                  <strong>Department:Civil Engneering</strong><br>
                  <strong>Semester:7th</strong>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </section>
    </section>

    <!-- footer -->
    <%- include('./common/footer') %>

  
    <script src="./index.js"></script>
 
  </body>

</html>
