<style>
  .ending {
    background-color: #031f33;
  }
  #txt {
    display: flex;

    padding: 20px;
    margin-bottom: 0px;
  }
</style>

<section class="ending">
  <footer class="w-full">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <!--Grid-->
      <div class="py-6 flex gap-4 items-center flex-col lg:flex-row">
        <ul
          class="md:flex text-lg text-center sm:flex items-cente justify-center gap-14 lg:gap-10 xl:gap-14 transition-all duration-500"
        >
          <li>
            <a href="/index" class=" moa text-white hover:text-gray-400" id="txt"
              >Home</a
            >
          </li>
          <li>
            <a href="/about" class=" moa text-white hover:text-gray-400" id="txt"
              >About Us</a
            >
          </li>
          <li>
            <a href="./almuin" class=" moa text-white hover:text-gray-400" id="txt"
              >Almuni</a
            >
          </li>
          <li>
            <a href="./news" class="moa text-white hover:text-gray-400" id="txt"
              >News</a
            >
          </li>
          <li>
            <a href="/" class="moa hover:text-gray-400 text-white" id="txt"
              >Admin page</a
            >
          </li>
        </ul>
      </div>
      <!--Grid-->
    
      <div class="py-4 border-t border-gray-700">
        <div class="justify-center text-center text-gray-400">
          <span>Developer:</span><br />
          <span>Backend : Muhammad Tanveer Frontend : Moazam Shigri</span>
        </div>
        <div class="flex items-center justify-center">
          <span class="text-gray-400"
            >©<a href="#">Balti Comsians Student Abbottabad </a>2024, All rights
            reserved.</span
          >
        </div>
      </div>
    </div>
  </footer>
</section>
