<header
class="flex flex-col items-center"
style="position: sticky; top: 0px"
>
<nav
  class="flex h-[87px] bg-[rgba(9,59,106,0.8)] items-center text-white size-full justify-evenly"
>
  <div class="logo p-1 flex text-center items-center">
    <img
      class="h-[3.75rem]"
      src="/images/COMSATS-logo-removebg-preview.png"
      alt="logo"
    />
    <div class="ml-1.5">
      <h1
        class="flex font-'Source' h-[1.4rem] text-xl font-semibold text-white"
        style="font-family: 'Source Sans 3'"
      >
        Balti STUDENTS
      </h1>
      <p class="text-white">COMSATS ABBOTTABAD</p>
    </div>
  </div>
  <ul class="md:flex hidden w-[44%] items-center justify-around">
    <li>
      <a class="hover:underline hover:text-gray-400" href="./index"
        >Home</a
      >
    </li>
    <li>
      <a
        class="hover:cursor-pointer hover:underline hover:text-slate-300 text-[15px]"
        href="./about"
        >About Us</a
      >
    </li>

    <li>
      <a
        class="hover:cursor-pointer hover:underline hover:text-slate-300 text-[15px]"
        href="./almuin"
        >Alumni</a
      >
    </li>
    <li>
      <a
        class="hover:cursor-pointer hover:underline hover:text-slate-300 text-[15px]"
        href="/news"
        >News</a
      >
    </li>
  </ul>
  <button
    class="button h-[25px] hover:text-gray-300 p-1 flex md:hidden"
  >
    <i class="buttonclass fa fa-bars"></i>
  </button>
</nav>
<nav
  class="mobile hidden md:hidden text-white w-full items-start justify-evenly pt-4 pb-4 bg-[rgba(37,69,98,0.8)]"
  style="position: sticky; top: 0"
>
  <ul>
    <li>
      <a class="hover:underline hover:text-gray-400" href="./index"
        >Home</a
      >
    </li>
    <li>
      <a class="hover:underline hover:text-gray-400" href="./about"
        >About Us</a
      >
    </li>

    <li>
      <a class="hover:underline hover:text-gray-400" href="./almuin"
        >Alumni</a
      >
    </li>
    <li>
      <a class="hover:underline hover:text-gray-400" href="./news"
        >News</a
      >
    </li>
  </ul>
</nav>
</header>